.page__header {
  // position: relative;
  background-image: url('/images/cover.jpeg');
  background-size: cover;
  width: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
  align-items: center;
  justify-content:flex-end;
  // color: white;
  // font-size: 2rem;
  // text-shadow: 2px 2px 0 #504a4a;
  // padding: 50px;

  &--menu {
    background-color: #6c933e;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 20px 20px;
  }

   &--texto {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 0 #504a4a;
    padding: 10px;
   }

   p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 0 #504a4a;
    
   }
  
  &--button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .boton {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

      img {
      width: 30px;
      height: 20px;
      border: none;


    }

          
    }     
  }
}






//  &--button {
//     background-color: white;
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     border-style: none;
//     margin: 40px 60px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
    

     
//      img {
//       width: 30px;
//       height: 20px;
//       border: none;
//     }     
//   }
// }