.page__header {
  // position: relative;
  background-image: url('/images/cover.jpeg');
  background-size: cover;
  width: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
  justify-content:flex-end;
  // color: white;
  // font-size: 2rem;
  // text-shadow: 2px 2px 0 #504a4a;
  // padding: 50px;

   &--texto {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 0 #504a4a;
    padding: 50px;
   }
  
  &--button {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding: 5px 0 0; 
    margin: 20px;
    border-style: none;
    
    
  }
}

// .page__header {
//   background-image: url('/images/cover.jpeg');
//   background-size: cover;
//   width: auto;
//   height: 50vh;
//   padding: 50px;

//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   justify-content:flex-end;
//   align-items: center;

//   .page__header--comienzo {
//     color: white;
//     font-size: 3rem;
//     text-shadow: 2px 2px 0 #504a4a;
//     margin-bottom: 2rem;

//   }

//   .page__header--todo {
//     color: white;
//     font-size: 1rem;
//     text-shadow: 2px 2px 0 #504a4a;
//     margin-bottom: 2rem;
//   }

//   .page__header--button {
//     width: 35px;
//     height: 35px;
//     border-radius: 50px;
//     padding: 5px 0 0; 
//     margin: 20px;
//     border-style: none;
//   }
// }
