<footer class="page__footer">
 
 <div>
    <ul>
      <li>©2023</li>
      <li>we love run</li>
    </ul>
 </div>
 
 <div>
    <ul>
      <li>ZAPATILLAS</li>
      <li>ROPA</li>
      <li>NIÑO/A</li>
      <li>DESTACADOS</li>
      <li>TIPS</li>
    </ul>
 </div>

 <div>
    <ul>
      <li>TWITTER</li>
      <li>INSTAGRAM</li>
      <li>YOUTUBE</li>
    </ul>
 </div>
 
 
  <!-- <small>
    &copy; Todos los derechos reservados
    <load
      src="/partials/link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    />
  </small> -->
</footer>
